<%- layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
      <div class="col-6 offset-3">
        <h1>Signup for WanderLust</h1>
        <form action="/signup" method="post" novalidate class="needs-validation">
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username"  class="form-control" id="username" required> <br><br>
                <div class="valid-feedback"> looks good</div>
            </div>
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email"  class="form-control" id="email" required> <br><br>
                
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password"  class="form-control" id="password" required> <br><br>
                <div class="valid-feedback"> looks good</div>
            </div>
            <button class="btn btn-success">Signup</button>
        </form>
      </div>
    </div>
</body>